name: github pages

on:
  push:
    branches:
    - master

jobs:
  build-deploy:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@master
      with:
        submodules: true
    - name: build
      uses: mattbailey/actions-hugo@v0.75.1
      if: github.event.deleted == false
      with:
        args: --gc --minify --config="./.themes/config.toml" --baseURL="https://profiles.joblist.city"
      env:
        GITHUB_TOKEN: ${{ secrets.DEPLOY_TOKEN_HUGO }}
